@page "/EditFormAdmin"

@using BlazorApp1.Models
@using BlazorApp1.Services
@using BlazorApp1.Database
@using System.Security.Policy
@inject FormInterService formService
@inject NavigationManager navigation

<h1>Oddane forme</h1>

<p>Tukaj lahko pogledate oddane forme</p>

<div class="card-deck">
    @foreach(var form in Forms)
    {
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
               <h3>Naslov: </h3><h3> @form.FormName</h3>
             </div>
             <div class="m-3">
               <h3>Serijska: @form.SerialNumber</h3>
             </div>
             <div class="m-3">
               <h3>IdUser: @form.IdUser</h3>
             </div>
             <div class="m-3">
               <h3>Status: @form.Status</h3>
             </div>
             <div class="card-footer text-center">
                 <a href="@($"formdetails/{form.Id}")" class="btn btn-primary m-1">Pregled</a>
             </div>
        </div>
    }
</div>


@code {
    private List<Form> Forms = new List<Form>();

    private string IdForm { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
    
    protected override async Task OnInitializedAsync()
    {
        Forms = (await formService.GetForms()).ToList();
    }
    
}
